<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lastwhisper.modular.mapper.o2o_operate_monitor_goodsMapper">
  <resultMap id="BaseResultMap" type="cn.lastwhisper.modular.pojo.o2o_operate_monitor_goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="DECIMAL" property="stock" />
    <result column="plv" jdbcType="VARCHAR" property="plv" />
    <result column="ztai" jdbcType="INTEGER" property="ztai" />
    <result column="bzhu" jdbcType="VARCHAR" property="bzhu" />
    <result column="modifydate" jdbcType="TIMESTAMP" property="modifydate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, upc, name, price, stock, plv, ztai, bzhu, modifydate
  </sql>
  <select id="selectByshopId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from o2o_operate_monitor_goods
    where shop_id = #{shopId,jdbcType=INTEGER} and ztai=0;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o2o_operate_monitor_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateZtaiById" parameterType="java.lang.String">
    update o2o_operate_monitor_goods
    <set>
      <if test="ztai != null">
        ztai = #{ztai,jdbcType=INTEGER},
      </if>
      
      <if test="bzhu != null">
        bzhu = #{bzhu,jdbcType=VARCHAR}
      </if>
    </set>
    where shop_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lastwhisper.modular.pojo.o2o_operate_monitor_goods">
    update o2o_operate_monitor_goods
    set shop_id = #{shopId,jdbcType=INTEGER},
      upc = #{upc,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=DECIMAL},
      plv = #{plv,jdbcType=VARCHAR},
      ztai = #{ztai,jdbcType=INTEGER},
      from = #{from,jdbcType=VARCHAR},
      bzhu = #{bzhu,jdbcType=VARCHAR},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>